if SHIELD_BASTARDKB_LEFT
# if SHIELD_BASTARDKB_RIGHT
config ZMK_KEYBOARD_NAME
    default "bastardkb_auryn"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
	default y

endif

if SHIELD_BASTARDKB_LEFT || SHIELD_BASTARDKB_RIGHT

config ZMK_SPLIT
    default y

endif
  
