if SHIELD_BASTARDKB_LEFT
config ZMK_KEYBOARD_NAME
    default "bastardkb"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_BASTARDKB_LEFT || SHIELD_BASTARDKB_RIGHT

config ZMK_SPLIT
    default y

endif
  
